page-home {
    .h1-logo {
        margin-top: 23rem;
        font-size: 6rem;
        letter-spacing: 0.8rem;
        font-family: Righteous;
        color: black;
        text-align: center
    }

   ion-content{
        background: url('../../assets/blood-donate.gif')  no-repeat top;

    }
    .style-button {
       letter-spacing: 0.2rem;
       font-size: 2rem;
       font-weight: bolder;
       width: 70%;
       text-transform: uppercase;
    }
}
