page-home {
    .h1-life-saver {
        margin-top: 40px;
        font-size: 4rem;
        letter-spacing: 0.5rem;
        font-family: Righteous;
        color: black;
        text-align: center
    }

   ion-content{
        --background: url('../../assets/mainpage.jpg')  no-repeat center / cover;

    }
    .style-button {
       letter-spacing: 0.2rem;
       font-size: 2rem;
       font-weight: bolder;
       width: 70%;
       text-transform: uppercase;
    }
}
