page-admin-main {
    .my-image{
      display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .btn1{
     font-family: Roboto;
    
    }
    .btn2{
      font-family: Roboto;
    
     }
    
    
    }