page-signup {

  .button-style {
    width: 100%;
    font-size: 1.7rem;
  }

  ion-content{
      background-color: #FFF6F7;
  }

  .padding-top-date{
      padding-top: 2rem;
  }

  .span-blood-type {
    color: black;
    padding-left: 1rem;
  }

}
